ENV=example
BASE_URL=your_base_url
API_BASE_URL=http://your_base_url/web/index.php/api/v2
DB_ENABLED=true
DB_HOST=your_database_host
DB_PORT=port_number
DB_NAME=orangehrm
DB_USER=your_username
DB_PASSWORD=your_password
ADMIN_USERNAME=admin_username
ADMIN_PASSWORD=admin_password
GEMINI_API_KEY=your_gemini_api_key
GH_TOKEN=your_github_token
GH_OWNER=your_github_username
GH_REPO=your_github_repository
OAUTH_CLIENT_ID=your_oauth_client_id
OAUTH_CLIENT_SECRET=your_oauth_client_secret
OAUTH_GRANT_TYPE=password
OAUTH_USERNAME=admin_username
OAUTH_PASSWORD=admin_password